{% extends "base.html" %} {% block title %}generate a CV{% endblock %} {% block
content %}

<form
  method="POST"
  action="/generate_cv"
  id="generateForm"
  enctype="multipart/form-data"
>
  <div class="form-group">
    <label for="job_title">Job Title</label>
    <input type="text" name="job_title" class="form-control" />
  </div>
  <div class="form-group">
    <label for="company">Company</label>
    <input type="text" name="company" class="form-control" />
  </div>
  <div class="form-group">
    <label for="location">years_of_experience</label>
    <input type="number" name="years_of_experience" class="form-control" />
  </div>
  <div class="form-group">
    <label for="location">skill</label>
    <input type="text" name="skill" class="form-control" />
  </div>

  <button type="submit" class="btn btn-success">generate</button>
</form>

<div id="loadingSpinner" class="text-center mt-3" style="display: none">
  <div class="spinner-border text-success" role="status">
    <span class="sr-only">...</span>
  </div>
  <p>Uploading your CV, please wait...</p>
</div>

<script>
  // Attach event listener to the form
  document
    .getElementById("generateForm ")
    .addEventListener("submit", function (e) {
      // Show the spinner
      document.getElementById("loadingSpinner").style.display = "block";
    });
</script>

{% endblock %}
