{% extends "base.html" %} {% block title %}generate a CV{% endblock %} {% block
content %}

<h2>Settings</h2>
<form method="post" action="/update_settings" id="settings-form" class="form">
  <table class="table">
    <tr>
      <td><label for="LLM_Model">Model:</label></td>
      <td>
        <input
          type="text"
          id="LLM_Model"
          name="LLM_Model"
          value="{{ settings.LLM_Model }}"
          class="form-control"
          onblur="submitForm()"
        />
      </td>
    </tr>
    <tr>
      <td><label for="setting2">Setting 2:</label></td>
      <td>
        <input
          type="text"
          id="setting2"
          name="setting2"
          value="{{ settings.setting2 }}"
          class="form-control"
          onblur="submitForm()"
        />
      </td>
    </tr>
    <tr>
      <td><label for="setting3">Setting 3:</label></td>
      <td>
        <input
          type="text"
          id="setting3"
          name="setting3"
          value="{{ settings.setting3 }}"
          class="form-control"
          onblur="submitForm()"
        />
      </td>
    </tr>
  </table>
  <button type="submit" class="btn btn-primary">Save Settings</button>
</form>

<script>
  function submitForm() {
    document.getElementById("settings-form").submit();
  }
</script>
{% endblock %}
