{% extends 'base.html' %} {% block content %}
<h2>Upload Multiple CVs</h2>
<form id="uploadForm" method="post" enctype="multipart/form-data">
  <div class="form-group">
    <label for="directory">Select Directory:</label>
    <input
      type="file"
      class="form-control"
      id="directory"
      name="directory"
      webkitdirectory
      directory
      multiple
    />
  </div>
  <button type="submit" class="btn btn-primary">Upload</button>
</form>

<!-- Spinner -->
<div id="loadingSpinner" class="text-center mt-3" style="display: none">
  <div class="spinner-border text-primary" role="status">
    <span class="sr-only"></span>
  </div>
  <p>Uploading files, please wait...</p>
</div>

<script>
  document
    .getElementById("uploadForm")
    .addEventListener("submit", function (event) {
      event.preventDefault();

      // Show the spinner
      document.getElementById("loadingSpinner").style.display = "block";

      const formData = new FormData();
      const files = document.getElementById("directory").files;

      for (let i = 0; i < files.length; i++) {
        formData.append("files[]", files[i]);
      }

      fetch('{{ url_for("upload_cvs") }}', {
        method: "POST",
        body: formData,
      })
        .then((response) => response.json())
        .then((data) => {
          // Hide the spinner
          document.getElementById("loadingSpinner").style.display = "none";

          if (data.error) {
            alert(data.error);
          } else {
            alert("Files uploaded successfully.");
          }
        })
        .catch((error) => {
          // Hide the spinner
          document.getElementById("loadingSpinner").style.display = "none";
        });
    });
</script>
{% endblock %}
